---
import type { HTMLAttributes } from 'astro/types';
import type { CommonColor } from '../../../types/color';
import type { Size } from '../../../types/size';
import { getTextColorClass } from '../../../utils/textColor';
import type { Loader } from './types';
import { getLoaderClass, getLoaderSizeClass } from './utils';

type Props = HTMLAttributes<'span'> & {
  loader?: Loader | undefined;
  color?: CommonColor | undefined;
  size?: Size | undefined;
};

const {
  loader = 'spinner',
  color,
  size,
  class: providedClass,
  ...restProps
} = Astro.props;

let cssClass = `loading ${getLoaderClass(loader)}`;

if (color) {
  cssClass += ` ${getTextColorClass(color)}`;
}

if (size) {
  cssClass += ` ${getLoaderSizeClass(size)}`;
}

if (providedClass) {
  cssClass += ` ${providedClass}`;
}
---

<span class={cssClass} {...restProps}> </span>
