---
import type { HTMLAttributes } from 'astro/types';
import type { Color } from '../../../types/color';
import type { Size } from '../../../types/size';
import { getBgAndContentColorClass } from '../../../utils/bgAndContentColor';
import { getBorderColorClass } from '../../../utils/borderColor';
import type { CardBorderStyle } from './types';
import { getCardBorderStyleClass, getCardSizeClass } from './utils';

type Props = HTMLAttributes<'div'> & {
  color?: Color | undefined;
  borderColor?: Color | undefined;
  size?: Size | undefined;
  borderStyle?: CardBorderStyle | undefined;
  figureStyle?: 'full' | 'side' | undefined;
};

const {
  color,
  borderColor,
  size,
  borderStyle = 'solid',
  figureStyle,
  class: providedClass,
  ...restProps
}: Props = Astro.props;

let cssClass = 'card';

if (color) {
  cssClass += ` ${getBgAndContentColorClass(color)}`;
}

cssClass += ` ${getCardBorderStyleClass(borderStyle)} ${getBorderColorClass(borderColor ?? 'base-300')}`;

if (size) {
  cssClass += ` ${getCardSizeClass(size)}`;
}

if (figureStyle === 'full') {
  cssClass += ' image-full';
} else if (figureStyle === 'side') {
  cssClass += ' card-side';
}

if (providedClass) {
  cssClass += ` ${providedClass}`;
}
---

<div class={cssClass} {...restProps}>
  <slot />
</div>
